<html>
<head>
   <style>
       body {
 font-family:"trebuchet ms",sans-serif;
 font-size:150%;
 }
form {
 background-color:rgba(255, 255, 128, .5);
 padding:100px;
 width:2000px;
 }

legend {
 color:#DF3F3F;
 font-weight:bold
 }
label {
color:hsl(50, 33%, 25%);
 margin-top:10px;
 display:block;
 }

input{
 background-color:#FFF3F3;
 }
input {
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }


button {
display:block;
        color:#E9967A;
        font-weight:bold;
        height:30px;
        line-height:29px;
        margin-bottom:14px;
        text-decoration:none;
        width:191px;
 }
button:hover {
      background-color: #f7c2f9;
      }
      button:hover span {
      padding-right: 100px;
      }
      button:hover span:after {
      opacity: 1;
      right: 0;
      }
   </style>
    </head>
    <body>


{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <table><tr><td><label for="inputEmail">Email</label></td>
    <td><input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus></td></tr><br><br>
    <tr><td><label for="inputPassword">Password</label></td>
    <td><input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required></td></tr>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <tr><td></td><td><button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button></td></tr></table>
</form>
{% endblock %}
</body></html>